
@layer base {
    :root {
      --color-primary-50: #FAF6FE;
      --color-primary-100: #F4E9FE;
      --color-primary-200: #EBD8FC;
      --color-primary-300: #DBB8FA;
      --color-primary-400: #C58BF5;
      --color-primary-500: #AE5FED;
      --color-primary-600: #993EDF;
      --color-primary-700: #842CC4;
      --color-primary-800: #6F29A0;
      --color-primary-900: #65268E;
      --color-primary-950: #3E0D5E;
    }
}
@theme static {
    --color-primary-50: var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-500: var(--color-primary-500);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);
    --color-primary-950: var(--color-primary-950);

    --text-xs: 12px;
    --text-xs--line-height: calc(16 / 12);
    --text-sm: 13px;
    --text-sm--line-height: calc(18 / 13);
    --text-base: 14px;
    --text-base--line-height: calc(20 / 14);
    --text-lg: 16px;
    --text-lg--line-height: calc(24 / 16);
    --text-xl: 18px;
    --text-xl--line-height: calc(28 / 18);
    --text-2xl: 24px;
    --text-2xl--line-height: calc(32 / 24);
    --text-3xl: 30px;
    --text-3xl--line-height: calc(36 / 30);
    --text-4xl: 36px;
    --text-4xl--line-height: calc(40 / 36);
    --text-5xl: 48px;
    --text-5xl--line-height: 1;
    --text-6xl: 60px;
    --text-6xl--line-height: 1;
    --text-7xl: 72px;
    --text-7xl--line-height: 1;
    --text-8xl: 96px;
    --text-8xl--line-height: 1;
    --text-9xl: 128px;
    --text-9xl--line-height: 1;
}