@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "./packages/brand/purple.css";

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}
body {
    background-color: #F9FAFB;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}
h2 {
    font-size: 20px;
    font-weight: 600;
}
h3 {
    font-size: 18px;
    font-weight: 600;
}